.profile-img{
    border-radius: 50%;
    width: 70px;
}
.follow-btn{
    position: relative;
    left: 10px;
    font-size: 10px;
}
.profile-name{
    font-size: 20px;
}
.imitation{
    font-size: 11px;
    font-weight: bold;
    position: relative;
    top: -5px;
    color: gray;
}
.type{
    font-size: 14px;
}
.total-views{
    font-size: 14px;
}
.summary{
    font-size: 14px;
}
.about{
    font-size: 12px;
}
.videos-summary{
    position: relative;
    top: -15px;
    font-size:12px;
}
.headings{
    margin: 0px;
    margin-top:4px;
    font-weight: bold;
    color: gray;
    padding-left: 3px;
}
.social-btns{
    padding: 0px;
    background: #ffffff;
}
.pl-3{
    padding-left: 3px;
}
.hash-tag{
    font-size: 13px;
    position: relative;
    top: -20px;
}
.total-summary{
    font-size: 13px;
}
.edit-btn{
    position: absolute;
    right: 0px;
    top: 5px;
    font-size: 11px;
}
.right-drop{
    color: #f8049c;
    position: relative;
    top: 2px;
}
.checkmark-rigng{
    position: relative;
    top: 2px;
}